@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tooltip {
    @apply invisible absolute;
  }

  .meta {
    font-size: 0.8em;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  @media screen and (min-width: 1700px) {
    .search-bar {
      width: 500px;
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1699px) {
    .search-bar {
      width: 330px;
    }
  }

  @media screen and (min-width: 960px) and (max-width: 1199px) {
    .search-bar {
      width: 250px;
    }
  }

  @media screen and (max-width: 959px) {
    .search-bar {
      width: auto;
    }

    .hide-on-mobile {
      visibility: hidden;
    }
  }
}
