@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tooltip {
        @apply invisible absolute;
    }

    .meta {
        font-size: 0.8em;
    }

    .has-tooltip:hover .tooltip {
        @apply visible z-50;
        width: 400px;
        text-align: left;
    }

    @media screen and (min-width: 1700px) {
        .landing .search-bar {
            width: 500px;
        }
        .simple .search-bar {
            width: 250px;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1699px) {
        .landing .search-bar {
            width: 330px;
        }
        .simple .search-bar {
            width: 200px;
        }
    }

    @media screen and (min-width: 960px) and (max-width: 1199px) {
        .landing .search-bar {
            width: 250px;
        }
        .simple .search-bar {
            width: 175px;
        }
    }

    @media screen and (max-width: 959px) {
        .landing .search-bar {
            width: auto;
        }
        .simple .search-bar {
            width: 140px;
        }

        .hide-on-mobile {
            visibility: hidden;
        }
    }

    @media screen and (max-width: 767px) {
        .simple .search-bar {
            width: auto;
        }
    }
}
